<header class="header">
  <div class="header_hamburger js-hamburger">
    <div class="header_hamburger-line top"></div>
    <div class="header_hamburger-line mid"></div>
    <div class="header_hamburger-line bottom"></div>
  </div>
  <nav class="header_nav js-nav">
    <ul class="header_nav_list">
      <li class="header_nav_list-title"><a href="#">Home</a></li>
      <li class="header_nav_list-title"><a href="#">Education</a></li>
      <li class="header_nav_list-title"><a href="#">Training</a></li>
      <li class="header_nav_list-title"><a href="#">Experience</a></li>
      <li class="header_nav_list-title"><a href="#">Portfolio</a></li>
      <li class="header_nav_list-title"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
