<section class="main_sectionEducation">
  <h3 class="main_sectionEducation-title"><span>01</span> Education</h3>
  <ul class="main_sectionEducation-list">
    <li class="main_sectionEducation-list-element1">
      <div class="elementList">
        <h4>Front End Development Bootcamp</h4>
        <p class="elementList-date">Abril 2021 - Julio 2021</p>
        <p class="elementList-location">Adalab Digital</p>
        <ul class="elementList-description">
          <li>
            <span>Web Layout:</span> HTML5, CSS3, FlexBox, CSS Grid, Bootstrap,
            responsive design, SASS.
          </li>
          <li><span>JavaScript:</span> ES6, and web services (APIs).</li>
          <li>Version control with <span>Git</span></li>
          <li><span>React:</span> creation of simple SPA’S.</li>
          <li>
            <span>Back end:</span> applications with
            <span>Node JS, Express and SQL.</span>
          </li>
          <li>
            <span>Agile</span> philosophy <span>and Scrum</span> framework.
          </li>
          <li>
            <span>Tools:</span> Slack, GitHub, VS Code, Gulp, Terminal, Linter,
            Zeplin.
          </li>
        </ul>
      </div>
    </li>
    <li class="main_sectionEducation-list-element2">
      <div class="elementList">
        <h4>Certification: Project Management PMP®</h4>
        <p class="elementList-date">September 2020 - September 2023</p>
        <p class="elementList-location">Project Management institute PMI</p>
      </div>
    </li>
    <li class="main_sectionEducation-list-element2">
      <div class="elementList">
        <h4>PM Course: Direction and management of projects, PMP</h4>
        <p class="elementList-date">June 2020 - July 2020</p>
        <p class="elementList-location">Cámara de comercio de Madrid</p>
      </div>
    </li>
    <li class="main_sectionEducation-list-element3">
      <div class="elementList">
        <h4>Infoarchitecture: 3Dmax + Vray</h4>
        <p class="elementList-date">September 2013 - June 2014</p>
        <p class="elementList-location">480hours online course</p>
      </div>
    </li>
    <li class="main_sectionEducation-list-element3">
      <div class="elementList">
        <h4>Interior Design Degree</h4>
        <p class="elementList-date">September 2010 - June 2014</p>
        <p class="elementList-location">ESNE - Universidad Camilo José Cela</p>
      </div>
    </li>
  </ul>
</section>
