<section class="main_sectionProfesional">
  <h3 class="main_sectionProfesional_title"><span>02</span> Profesional</h3>
  <article class="main_sectionProfesional_developmentSoftware">
    <h3 class="main_sectionProfesional_developmentSoftware-title">
      Development Software & Tools
    </h3>
    <ul class="main_sectionProfesional_developmentSoftware-list">
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-html5"></i> HTML
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-css3-alt"></i>CSS
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-js"></i>JAVASCRIPT
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-react"></i>REACT
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-node-js"></i>NODE JS
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fas fa-database"></i> SQL
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-github"></i> GIT HUB
      </li>
    </ul>
  </article>
  <article class="main_sectionProfesional_designSoftware">
    <h3 class="main_sectionProfesional_designSoftware-title">
      Design Software
    </h3>
    <ul class="main_sectionProfesional_designSoftware-list">
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>AUTOCAD 2D</p>
        <div class="line95">95%</div>
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>3D MAX + VRAY</p>
        <div class="line90">90%</div>
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>ILLUSTRATOR</p>
        <div class="line95">95%</div>
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>PHOTOSHOP</p>
        <div class="line95">95%</div>
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>MS OFFICE</p>
        <div class="line90">90%</div>
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <p>IN DESIGN</p>
        <div class="line70">70%</div>
      </li>
    </ul>
  </article>
  <article class="main_sectionProfesional_skills">
    <h3 class="main_sectionProfesional_skills-title">Soft skills</h3>
    <ul class="main_sectionProfesional_skills-list">
      <li class="main_sectionProfesional_skills-list-element">
        Technical profile
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Communicative skills
      </li>
      <li class="main_sectionProfesional_skills-list-element">Leadership</li>
      <li class="main_sectionProfesional_skills-list-element">Creative</li>
      <li class="main_sectionProfesional_skills-list-element">
        Team work & coordination
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Problem solving
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Customer orientation
      </li>
      <li class="main_sectionProfesional_skills-list-element">Multitask</li>
      <li class="main_sectionProfesional_skills-list-element">
        Organizational skills
      </li>
    </ul>
  </article>
</section>
