<section class="main_sectionEducation">
  <h3 class="main_sectionEducation-title">
    <span class="">01</span> Education
  </h3>
  <ul>
    <li class="main_sectionEducation-element">
      <h4>Grado universitario "Diseño de interiores"</h4>
      <p>Septiembre 2010 - Junio 2014</p>
      <p>ESNE - Universidad Camilo José Cela</p>
      <ul>
        <li>
          Web Layout: HTML5, CSS3, FlexBox, CSS Grid, Bootstrap, responsive
          design, SASS.
        </li>
        <li>JavaScript: Vanilla JS, ES6, and web services (APIs).</li>
        <li>Version control with Git</li>
        <li>React: creation of simple SPA’S.</li>
        <li>Back end: applications with Node JS, Express and SQL.</li>
        <li>Agile philosophy and Scrum framework.</li>
        <li>Tools: Slack, GitHub, VS Code, Gulp, Terminal, Linter, Zeplin.</li>
      </ul>
    </li>
    <li class="main_sectionEducation-element">
      <h4>Project Management PMP®</h4>
      <p>Septiembre 2020 - Septiembre 2023</p>
      <p>Project Management institute PMI</p>
    </li>
    <li class="main_sectionEducation-element">
      <h4>Curso - 3D MAX + VRAY</h4>
      <p>Septiembre 2013 - Junio 2014</p>
      <p>480 horas de formación online</p>
    </li>
    <li class="main_sectionEducation-element">
      <h4>Grado universitario "Diseño de interiores"</h4>
      <p>Septiembre 2010 - Junio 2014</p>
      <p>ESNE - Universidad Camilo José Cela</p>
    </li>
  </ul>
</section>
