<section class="main_sectionPortfolio" id="portfolio">
  <h3 class="main_sectionPortfolio_title">
    <span class="">04</span> Portfolio
  </h3>
  <h4 class="main_sectionPortfolio_subtitle">
    My latest work.
    <a href="https://github.com/PatriciaLoboTejedor" target="_blank"
      >See more ></a
    >
  </h4>
  <ul class="main_sectionPortfolio_list">
    <li class="main_sectionPortfolio_list-element">
      <h4>API Painters</h4>
      <img src="./assets/images/api-painters.png" alt="project01" />
      <p>
        React App to create your own business card online and share it with the
        world
      </p>
      <a
        href="https://github.com/PatriciaLoboTejedor/API-Painters"
        target="_blank"
      >
        <i class="fas fa-file-code"></i
      ></a>
      <a
        href="https://patricialobotejedor.github.io/API-Painters/"
        target="_blank"
        ><i class="far fa-window-restore"></i
      ></a>
    </li>
    <li class="main_sectionPortfolio_list-element">
      <h4>Shows search</h4>
      <img src="./assets/images/shows-search.png" alt="project02" />
      <p>
        Shows finder in Vanilla Javascript with local storage and favorites
        section
      </p>
      <a
        href="https://github.com/PatriciaLoboTejedor/shows-search"
        target="_blank"
      >
        <i class="fas fa-file-code"></i
      ></a>
      <a
        href="https://patricialobotejedor.github.io/shows-search/"
        target="_blank"
        ><i class="far fa-window-restore"></i
      ></a>
    </li>
    <li class="main_sectionPortfolio_list-element">
      <h4>Sense 5</h4>
      <img src="./assets/images/sense-5.png" alt="project03" />
      <p>
        Landing and contact page of team work with two faces... with HTML5 and
        CSS3
      </p>
      <a
        href="https://github.com/PatriciaLoboTejedor/SENSE-5-Nada-es-lo-que-parece"
        target="_blank"
      >
        <i class="fas fa-file-code"></i
      ></a>
      <a
        href="https://patricialobotejedor.github.io/SENSE-5-Nada-es-lo-que-parece/"
        target="_blank"
        ><i class="far fa-window-restore"></i
      ></a>
    </li>
  </ul>
</section>
