<section class="main_sectionPhoto">
  <h1 class="main_sectionPhoto-title">
    I<span class="">'</span>M PATRICIA LOBO<span class="">.</span>
  </h1>
  <h2 class="main_sectionPhoto-subtitle">
    FRONT END DEVELOPER
    <span>& PROJECT MANAGER, PMP®</span>
  </h2>
  <p class="main_sectionPhoto-description">
    Persona proactiva con facilidad y disposición para aprender, buenas
    relaciones interpersonales, responsable, creativa, muy organizada, con
    especial atención al detalle, capacidad para realizar trabajos de gran
    envergadura con rapidez y bajo presión, interés por la actualización
    profesional, grandes dotes comunicativas y de trabajo en equipo
    multidisciplinar, valía a la hora de identificar riesgos y oportunidades,
    con deadlines ajustados y budgets específicos.
  </p>
</section>
