<article class="main_sectionProfesional">
  <h3 class="main_sectionProfesional_title">
    <span class="">02</span> Training
  </h3>
  <section class="main_sectionProfesional_developmentSoftware">
    <h3 class="main_sectionProfesional_developmentSoftware-title">
      Development Software
    </h3>
    <ul>
      <li class="main_sectionSoftware_developmentSoftware-element">HTML</li>
      <li class="main_sectionSoftware_developmentSoftware-element">CSS</li>
      <li class="main_sectionSoftware_developmentSoftware-element">
        JAVASCRIPT
      </li>
      <li class="main_sectionSoftware_developmentSoftware-element">REACT</li>
      <li class="main_sectionSoftware_developmentSoftware-element">NODE JS</li>
      <li class="main_sectionSoftware_developmentSoftware-element">SQL</li>
      <li class="main_sectionSoftware_developmentSoftware-element">GIT HUB</li>
    </ul>
  </section>
  <section class="main_sectionProfesional_designSoftware">
    <h4 class="main_sectionProfesional_designSoftware-title">
      Design Software
    </h4>
    <ul>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>AUTOCAD 2D</h4>
        <span></span>
        <p>95%</p>
      </li>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>3D MAX + VRAY</h4>
        <span></span>
        <p>90%</p>
      </li>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>ILLUSTRATOR</h4>
        <span></span>
        <p>95%</p>
      </li>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>PHOTOSHOP</h4>
        <span></span>
        <p>95%</p>
      </li>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>MS OFFICE</h4>
        <span></span>
        <p>90%</p>
      </li>
      <li class="main_sectionProfesional_designSoftware-element">
        <h4>IN DESIGN</h4>
        <span></span>
        <p>70%</p>
      </li>
    </ul>
  </section>
  <section class="main_sectionProfesional_skills">
    <h3 class="main_sectionProfesional_skills-title">Skills</h3>
    <ul>
      <li class="main_sectionProfesional_skills-element">Technical profile</li>
      <li class="main_sectionProfesional_skills-element">
        Communicative skills
      </li>
      <li class="main_sectionProfesional_skills-element">Leadership</li>
      <li class="main_sectionProfesional_skills-element">Creative</li>
      <li class="main_sectionProfesional_skills-element">
        Team work & coordination
      </li>
      <li class="main_sectionProfesional_skills-element">Problem solving</li>
      <li class="main_sectionProfesional_skills-element">
        Customer orientation
      </li>
      <li class="main_sectionProfesional_skills-element">Multitask</li>
      <li class="main_sectionProfesional_skills-element">
        Organizational skills
      </li>
    </ul>
  </section>
</article>
