<section class="main_sectionPhoto">
  <h1 class="main_sectionPhoto-title">
    I<span class="">'</span>M PATRICIA LOBO<span class="">.</span>
  </h1>
  <h2 class="main_sectionPhoto-subtitle">
    FRONT END DEVELOPER
    <span>& PROJECT MANAGER, PMP®</span>
  </h2>
  <p class="main_sectionPhoto-description">
    Proactive person with ease and willingness to learn, good leadership and
    relationships, responsible, creative, very organized with special attention
    to detail, ability to perform large-scale jobs quickly and under stress,
    interest in professional updating, ability to identify risks and
    opportunities, effective communication skills and multidisciplinary teamwork
    with tight deadlines and specific budgets.
  </p>
</section>
