<section class="main_sectionProfesional" id="profesional">
  <h3 class="main_sectionProfesional_title"><span>02</span> Profesional</h3>
  <article class="main_sectionProfesional_developmentSoftware">
    <h3 class="main_sectionProfesional_developmentSoftware-title">
      Development Software & Tools
    </h3>
    <ul class="main_sectionProfesional_developmentSoftware-list">
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-html5"></i> HTML
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-css3-alt"></i>CSS
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-js"></i>JAVASCRIPT
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-react"></i>REACT
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-node-js"></i>NODE JS
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fas fa-database"></i> SQL
      </li>
      <li class="main_sectionProfesional_developmentSoftware-list-element">
        <i class="fab fa-github"></i> GIT HUB
      </li>
    </ul>
  </article>
  <article class="main_sectionProfesional_designSoftware">
    <h3 class="main_sectionProfesional_designSoftware-title">
      Design Software
    </h3>
    <ul class="main_sectionProfesional_designSoftware-list">
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-ruler-vertical"></i> AUTOCAD 2D
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-cube"></i> 3D MAX + VRAY
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-bezier-curve"></i> ILLUSTRATOR
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="far fa-images"></i> PHOTOSHOP
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-video"></i> PREMIERE
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-book-open"></i> IN DESIGN
      </li>
      <li class="main_sectionProfesional_designSoftware-list-element">
        <i class="fas fa-briefcase"></i> MS OFFICE
      </li>
    </ul>
  </article>
  <article class="main_sectionProfesional_skills">
    <h3 class="main_sectionProfesional_skills-title">Soft skills</h3>
    <ul class="main_sectionProfesional_skills-list">
      <li class="main_sectionProfesional_skills-list-element">
        Technical profile
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Communicative skills
      </li>
      <li class="main_sectionProfesional_skills-list-element">Leadership</li>
      <li class="main_sectionProfesional_skills-list-element">Creative</li>
      <li class="main_sectionProfesional_skills-list-element">
        Team work & coordination
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Problem solving
      </li>
      <li class="main_sectionProfesional_skills-list-element">
        Customer orientation
      </li>
      <li class="main_sectionProfesional_skills-list-element">Multitask</li>
      <li class="main_sectionProfesional_skills-list-element">
        Organizational skills
      </li>
    </ul>
  </article>
</section>
