<section class="main_sectionPortfolio">
  <h3 class="main_sectionPortfolio_title">
    <span class="">04</span> Portfolio
  </h3>
  <h4>Selección de trabajos. <span>Ver más ></span></h4>
  <ul>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project01" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project02" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project03" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project04" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project05" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project06" />
    </li>
    <li class="main_sectionPortfolio-element">
      <img src="" alt="project07" />
    </li>
  </ul>
</section>
