<section class="main_sectionExperience">
  <h3 class="main_sectionExperience_title">
    <span class="">03</span> Experience
  </h3>
  <ul>
    <li class="main_sectionExperience_element">
      <p class="main_sectionExperience_element-date">Dic197 - Now</p>
      <h4>Senior project manager & interior designer</h4>
      <h5>Trazos y Tendencias</h5>
      <p>
        Full project production within the scope of ephemeral architecture
        (events, retail, commercial interior design ...). Direction and
        leadership of technical work teams. Management of all process areas, in
        terms of time schedule, costs, quality ...
      </p>
    </li>
    <li class="main_sectionExperience_element">
      <p>Aug17 - Dic19</p>
      <h4>Interior designer & project manager</h4>
      <h5>Construferial</h5>
      <p>
        Monitoring the simultaneous projects evolutions, coordinating the
        different stakeholders, including purchases and suppliers. Great
        autonomous character and level of responsibility, always applying the
        established methods.
      </p>
    </li>
    <li class="main_sectionExperience_element">
      <p>Sep15 - Nov17</p>
      <h4>Interior and graphic designer</h4>
      <h5>Freelance</h5>
      <p>
        Project design for marketing agencies with project presentation through
        3d infographics and descriptive reports; graphic design for publicity
        elements and full technical planimetric development for the
        construction.
      </p>
    </li>
    <li class="main_sectionExperience_element">
      <p>Aug14 - Jul17</p>
      <h4>Interior designer</h4>
      <h5>Majica Artes Visuales</h5>
    </li>
    <li class="main_sectionExperience_element">
      <p>Oct12 - Jul14</p>
      <h4>Junior interior designer</h4>
      <h5>ESNE Ensemble</h5>
    </li>
  </ul>
</section>
