<section class="main_sectionContact" id="contact">
  <h3 class="main_sectionContact_title"><span class="">05</span> Contact</h3>
  <p class="main_sectionContact_subtitle">I'd love to hear from you</p>
  <ul class="main_sectionContact_list">
    <li class="main_sectionContact_list-element mail">
      <a href="mailto:patricialobotejedor@gmail.com">
        <i class="far fa-paper-plane"></i>
        <p>patricialobotejedor@gmail.com</p>
      </a>
    </li>
    <li class="main_sectionContact_list-element phone">
      <a href="tel:636311105">
        <i class="fas fa-mobile-alt"></i>
        <p>+34 636 31 11 05</p>
      </a>
    </li>
    <li class="main_sectionContact_list-element linkedin">
      <a
        href="https://www.linkedin.com/in/patricia-lobo-tejedor/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
        <p>Linkedin</p>
      </a>
    </li>
  </ul>
</section>
