.main_sectionExperience {
  background-image: url("./../images/experience.png");
  background-size: cover;
  background-position: center center;
  color: $color-grey-dark;
  background-color: white;
  &_title {
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;
    color: $color-grey-light;
    padding: 15px;
    span {
      color: $color-grey-dark;
    }
  }
  &_list {
    padding: 0px 15px;
    &-element {
      &-date {
        color: $color-yellow-light;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
      }
      &-job {
        padding-bottom: 10px;
      }
      &-company {
        padding-bottom: 5px;
      }
      &-description {
        font-size: 14px;
        font-weight: lighter;
        padding-bottom: 20px;
        text-align: justify;
      }
    }
  }
}
