.header {
  width: 100%;
  height: 51px;
  background-color: $color-grey-dark;
  position: fixed;
  top: 0px;

  /*@include tablet {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 20px;
  }*/

  // Menu hamburguesa
  &_hamburger {
    position: absolute;
    right: 0;
    background-color: transparent;
    padding: 15px 15px 12px 15px;

    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;

    &-line {
      background: white;
      margin-bottom: 4px;
      border-radius: 2px;
      width: 28px;
      height: 4px;
      opacity: 1;
      transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    //Hover hamburguesa
    &:hover .top {
      transform: translateY(-100%);
    }
    &:hover .bottom {
      transform: translateY(100%);
    }
  }

  //Hamburguesa active
  &_hamburger.is-active .top {
    transform: translateY(200%) rotate(45deg);
  }
  &_hamburger.is-active .mid {
    opacity: 0;
  }
  &_hamburger.is-active .bottom {
    transform: translateY(-200%) rotate(135deg);
  }
  &_nav.is_active {
    transform: translate3d(0px, 0px, 0px);
  }

  // Menu desplegable
  &_nav {
    background-color: $color-grey-dark;
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0;
    opacity: 0.9;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1001;
    &_list {
      padding: 80px 20px 20px 20px;
      // Menu completo tablet
      /*@include tablet {
        width: 60%;
        display: flex;
        justify-content: space-between;
      }*/
      &-title {
        text-align: right;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 1.5rem;

        a {
          color: white;
          &:hover {
            color: $color-yellow-light;
          }
        }
      }
    }
  }
}
