.header {
  &_nav {
    &_list {
      width: 60%;
      display: flex;
      justify-content: space-between;

      cursor: pointer;

      margin-bottom: 3rem;
      &-title:hover {
        color: $color-yellow-light;
      }
    }
  }
}
