.main_sectionPhoto {
  padding: 40px 15px;
  margin-top: 50px;
  background-image: url("./../images/headerPhotosmall.jpg");
  background-size: cover;
  background-position: right center;
  height: 95vh;
  @include tablet {
    padding: 90px 75px;
  }
  @include desktop {
    background-image: url("./../images/headerPhoto.jpg");
    padding: 150px 135px;
  }

  scroll-margin-top: 50px;

  color: $color-grey-dark;
  &-wrap {
    width: 50%;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 45%;
    }
    &-title {
      font-size: 30px;
      letter-spacing: 10px;
      line-height: 40px;
      font-weight: 900;

      padding-bottom: 20px;
      span {
        color: $color-yellow-light;
      }
      @include tablet {
        font-size: 80px;
        letter-spacing: 15px;
        line-height: 100px;
        font-weight: 900;

        padding-bottom: 60px;
      }
    }
    &-subtitle {
      font-size: 14px;
      font-weight: inherit;
      line-height: 24px;
      letter-spacing: 3px;

      padding-bottom: 20px;
      @include tablet {
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 6px;

        padding-bottom: 60px;
      }
    }
    &-description {
      font-size: 9px;
      font-weight: inherit;
      letter-spacing: 1px;
      text-align: justify;
      @include tablet {
        font-size: 16px;
        letter-spacing: 2px;
      }
    }
  }
}
