.main_sectionProfesional {
  background-image: url("./../images/profesional.png");
  background-size: cover;
  background-position: center center;
  scroll-margin-top: 50px;
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  &_title {
    text-align: center;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 20px;

    padding: 15px;
    @include tablet {
      font-size: 36px;
      padding: 30px;
    }
    span {
      color: black;
    }
  }
  &_developmentSoftware,
  &_designSoftware {
    margin-bottom: 25px;
    @include tablet {
      width: 80vw;
      font-size: 1rem;
    }
    &-title {
      text-align: center;
      font-weight: 400;
      color: $color-yellow-dark;
      padding-bottom: 10px;
      @include tablet {
        font-size: 22px;
      }
    }
    &-list {
      padding: 0px 15px 0px 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-element {
        padding: 5px 10px;
        text-align: center;
        font-family: $font-thin;
        font-weight: 400;

        i {
          padding-right: 5px;
          color: $color-yellow-light;
          @include tablet {
            font-size: 20px;
          }
        }
      }
    }
  }
  &_skills {
    background-color: $color-grey-dark;
    padding: 15px;

    max-width: 1000px;
    margin: auto;
    @include tablet {
      width: 80vw;
      font-size: 1rem;
      height: 130px;
      padding: 25px;
    }
    &-title {
      color: $color-yellow-light;
      position: absolute;
      padding: 10px;
      height: 100px;
      transform: rotate(-90deg);
      @include tablet {
        padding: 0px;
        height: 80px;
      }
    }
    &-list {
      text-align: center;
      @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
      &-element {
        padding: 5px 10px;
        font-weight: lighter;
        text-align: center;
        font-size: 14px;
        div {
          font-size: 12px;
          text-align: left;
          padding-left: 5px;
          width: 80%;
          height: 15px;
          background-color: $color-yellow-light;
          color: $color-grey-dark;
        }
      }
    }
  }
}
